<% items = @config['pages'][@page] %>
<script type="text/javascript">
  $(function() {
    <% items.each_with_index do |item, i| %>
      var klass = Dashboard.<%= item['type'] %>
      new klass(<%= item.to_json %>, <%= (@config['defaults'] || {}).to_json %>).render()
    <% end %>
  })
</script>

<div id="items"></div>
