<script type="text/javascript">
  $(function() {
    var url = decodeURIComponent('/load?url=http%3A%2F%2Flocalhost%3A9393%2Fgraphite.test.txt')
    new Dashboard.Chart.Graphite(url).render($(".entry.graphite").get(0))
  })
</script>

<section class="entry graphite">
</section>
