<% items = @config['pages'][@page] %>
<script type="text/javascript">
  $(function() {
    <% items.each_with_index do |metrics, i| %>
      new Dashboard.Chart.Graphite(<%= metrics.to_json %>, <%= (@config['defaults']||{}).to_json %>).render($(".entry.graphite").get(<%= i %>))
    <% end %>
  })
</script>

<% items.each do %>
  <section class="entry graphite"></section>
<% end %>
