<!DOCTYPE HTML>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <%=
        [
          '/vendor/jquery/jquery-1.6.4.min',
          '/vendor/jquery/plugins/jquery.dateFormat',
          '/vendor/raphael-min',
          'dashboard',
          'chart',
          'chart/helpers',
          'chart/graph',
          'chart/graphite'
        ].map do |path|
          url = if path.match(/^http.?:/) then path
          elsif path.match(/^\//) then "#{path}.js"
          else "/javascripts/#{path}.js"
          end
          "<script type='text/javascript' src='#{url}'></script>"
        end * "\n"
    %>
  </head>
  <body>
    <div id="navigation_bar">
      <h1><a href="/">Dashboard</a></h1>
      <div class="nav_items">
        <% if @page > 0 %>
          <div class="nav_item">
            <a href="/?page=<%= @page - 1 %>">&laquo; Previous Page</a>
          </div>
        <% end %>
        <% if @config["pages"].size > @page + 1 %>
          <div class="nav_item">
            <a href="/?page=<%= @page + 1 %>">Next Page &raquo;</a>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="content">
      <%= yield %>
      <div class="clear"></div>
    </div>
  </body>
</html>
