<!DOCTYPE HTML>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <%=
        ['jquery-1.6.4.min', 'raphael-min', 'dashboard', 'chart'].map do |path|
          "<script type='text/javascript' src='/javascripts/#{path}.js'></script>"
        end * "\n"
    %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
      <div class="clear"></div>
    </div>
  </body>
</html>
